---
openapi: 3.1.0
paths:
  /api/async/todos:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoTask"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json: {}
        "400":
          description: Bad Request
      summary: Post
      tags:
      - Todo Async Resource Impl
    get:
      responses:
        "200":
          description: OK
          content:
            application/json: {}
      summary: Keys
      tags:
      - Todo Async Resource Impl
  /api/async/todos/{id}:
    put:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoTask"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json: {}
        "400":
          description: Bad Request
      summary: Put
      tags:
      - Todo Async Resource Impl
    get:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json: {}
      summary: Detail
      tags:
      - Todo Async Resource Impl
    delete:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json: {}
      summary: Delete
      tags:
      - Todo Async Resource Impl
  /api/todos:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoTask"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
        "400":
          description: Bad Request
      summary: Post
      tags:
      - Todo Resource Impl
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
      summary: Keys
      tags:
      - Todo Resource Impl
  /api/todos/{id}:
    put:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoTask"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
        "400":
          description: Bad Request
      summary: Put
      tags:
      - Todo Resource Impl
    get:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
      summary: Detail
      tags:
      - Todo Resource Impl
    delete:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
      summary: Delete
      tags:
      - Todo Resource Impl
  /increments:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: Keys
      tags:
      - Increment Resource
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Increment"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Increment"
        "400":
          description: Bad Request
      summary: Create
      tags:
      - Increment Resource
  /increments/{key}:
    put:
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: integer
              format: int64
        required: true
      responses:
        "204":
          description: No Content
      summary: Increment
      tags:
      - Increment Resource
    get:
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Increment"
      summary: Get
      tags:
      - Increment Resource
    delete:
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
      summary: Delete
      tags:
      - Increment Resource
components:
  schemas:
    Increment:
      type: object
      properties:
        key:
          type: string
        value:
          type: integer
          format: int64
    TodoTask:
      type: object
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        completed:
          type: boolean
servers:
- url: http://localhost:8080
  description: Auto generated value
- url: http://0.0.0.0:8080
  description: Auto generated value
info:
  title: quarkus-react-todo-app API
  version: 1.0.0-SNAPSHOT
