---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "monthly"
    # open-pull-requests-limit: 5
    ignore:
      - dependency-name: "io.quarkus.platform:*"
        update-types: ["version-update:semver-minor"]
    groups:
      maven-plugin-dependencies:
        patterns:
          - "org.apache.maven.plugins*"
      quarkus-dependencies:
        patterns:
          - "io.quarkus:*"
          - "io.quarkus.platform:*"
          - "io.quarkus.*"
  - package-ecosystem: "npm"
    directory: "/src/main/webui"
    schedule:
      interval: "monthly"
    groups:
      react-dependencies:
        patterns:
          - "react"
          - "react-*"
    ignore:
      - dependency-name: "eslint*"
        update-types: ["version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch"]
      - dependency-name: "@eslint*"
        update-types: ["version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch"]
    # open-pull-requests-limit: 5
